# ======================
# Ignore extra project copy
# ======================
IMS-clean/

# ======================
# Node / Frontend
# ======================
node_modules/
build/
dist/
coverage/

# ======================
# Python / Backend
# ======================
venv/
.venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment files
# ======================
.env
.env.*

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Database
# ======================
*.db
*.sqlite3

# ======================
# Misc
# ======================
*.swp
*.swo