[flake8]
max-line-length = 120
exclude =
    venv,
    .venv,
    __pycache__,
    .git,
    migrations,
    logs
# Ignore:
# E501 already handled by max-line-length above
# W503 line break before binary operator (conflicts with Black)
# E203 whitespace before ':' (conflicts with Black)
ignore = W503,E203,E123
